
@layout("About"){
    <div class="container text-pad">
    <div class="row">
        <div class="col-lg-6">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        </br>
        </br>
            <h2>Check out the Books!</h2>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            <img src="@routes.Assets.versioned("images/openbook.jpg")" width="750" height="450" />
        </div>
    </div>
    </div>


}
