
@layout("Books"){

  <section id="service" class="main-section text-center text-pad bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="section-heading">
                <h2>Books available to you</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscig elit, sed do eiusmod tempor incididunt ut</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

}
